<%- include('../partials/navbar.ejs', { active: 'signin' }) %>


<div class="signin-card">
  <h4 class="signin-title">Log In!</h4>
  <form action="/auth/sign-in" class="signin" method="POST" >
    <label class="sigin-field" for="username">
    
      <input
        autocomplete="off"
        id="username"
        placeholder="Username"
        class="login-input-field"
        name="username"
        type="text"
      />
    </label>
    <label class="signin-field" for="password">

      <input
        id="logpass"
        placeholder="Password"
        class="login-input-field"
        name="password"
        type="password"
      />
    </label>
    <button class="signin-btn" type="submit">Login</button>
  </form>
</div>


<%- include('../partials/footer.ejs')%>
