<%- include('../partials/navbar.ejs', { active: 'signup' }) %>

<div class="signup-card">
  <h4 class="signup-title">Sign up!</h4>
  <form action="/auth/sign-up" class="signup" method="POST" >
    <label class="signup-field" for="name">
      <input
        autocomplete="off"
        id="name"
        placeholder="Name"
        class="signup-input-field"
        name="name"
        type="text"
      />

    </label>
    <label class="signup-field" for="username">
      <input
        autocomplete="off"
        id="username"
        placeholder="Username"
        class="signup-input-field"
        name="username"
        type="text"
      />

    </label>
    <label class="signup-field" for="password">
      

      <input
        id="logpass"
        placeholder="Password"
        class="signup-input-field"
        name="password"
        type="password"
      />
    </label>
    <label class="signup-field" for="password">

      <input
        id="logpass"
        placeholder="Confirm Password"
        class="signup-input-field"
        name="confirmPassword"
        type="password"
      />
    </label>
    <button class="signup-btn" type="submit">Sign Up!</button>
  </form>
</div>

<%- include('../partials/footer.ejs')%>
