<%- include('../partials/navbar.ejs', { active: 'signup' }) %>

<div class="signup-card">
  <h4 class="signup-title">Sign up!</h4>
  <form action="/auth/sign-up" class="signup" method="POST" >
    <label class="signup-field" for="name">
      <input
        autocomplete="off"
        id="name"
        placeholder="Name"
        class="signup-input-field"
        name="name"
        type="text"
      />

    </label>
    <label class="signup-field" for="username">
      <input
        autocomplete="off"
        id="username"
        placeholder="Username"
        class="signup-input-field"
        name="username"
        type="text"
      />

    </label>
    <label class="signup-field" for="password">
      

      <input
        id="logpass"
        placeholder="Password"
        class="signup-input-field"
        name="password"
        type="password"
      />
    </label>
    <label class="signup-field" for="password">

      <input
        id="logpass"
        placeholder="Confirm Password"
        class="signup-input-field"
        name="confirmPassword"
        type="confirmPassword"
      />
    </label>
    <button class="signup-btn" type="submit">Sign Up!</button>
  </form>
</div>








<!-- <form action="/auth/sign-up" method="POST">
  <div class="mb-3">
    <label for="name" class="form-label">Name:</label>
    <input type="text" class="form-control" id="name" name="name" aria-describedby="name">
  </div>
  <div class="mb-3">
    <label for="username" class="form-label">Username:</label>
    <input type="username" class="form-control" name="username" id="username">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password:</label>
    <input type="password" class="form-control" name="password" id="password">
  </div>
  <div class="mb-3">
    <label for="confirmPassword" class="form-label">Confirm Password:</label>
    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->


<%- include('../partials/footer.ejs')%>
