<div class="card">
    <div class="card-info">
        <li>
            <img src="<%= movie?.imageUrl %>" alt="<%= movie?.title %>" />
            <a href="/movies/user-movies/<%= movie._id %>" class="button"><h2><strong><%= movie?.title %></strong></h2></a>
        </li>
    </div>
  </div>